#grid ol {
  color:lightgreen;
  border-right: 1px solid white;
  width:120px;
  margin: 0;
  padding: 30px;
}
ol a {
  color:lightgreen;
  text-decoration:none;
}
h1 {
  font-size:50px;
  text-align: center;
  border-bottom: 2px solid white;
  margin:0;
  padding: 30px;
}
#grid{
  display: grid;
  grid-template-columns: 200px auto;
}
#dd {
  padding: 10px;
}
.active {
  color:yellow;
}
a {
  color: white;
}
h1 a {
  text-decoration: none;
}
h1{
  background-color:black;
}
#grid ol{
  background-color:black;
}
body{
  background-color:black;
  color:white;
}
@media(max-width:600px){
  #grid{
    display:block;
  }
  #grid ol{
    border-right:none;
  }
  h1 {
    border-bottom: none;
    font-size: 40px;
  }
}
