#grid ol {;
  border-right: 1px solid black;
  width:120px;
  margin: 0;
  padding: 30px;
}
ol a {
  text-decoration:none;
}
h1 {
  font-size:50px;
  text-align: center;
  border-bottom: 2px solid black;
  margin:0;
  padding: 30px;
}
#grid{
  display: grid;
  grid-template-columns: 200px auto;
}
#dd {
  padding: 10px;
}
.active {
  color:yellow;
}
a {
  color: black;
}
h1 a {
  text-decoration: none;
}
body {
  background-color:white;
  color:black;
}
.night {
  margin-top: 200px;
}
.red {
  color:red;
}
.orange {
  color:orange;
}
.yellow {
  color:yellow;
}
.green  {
  color:green;
}
.blue {
  color:blue;
}
.selected {
  color:white;
}
.pupple {
  color:#800080
}

@media(max-width:600px){
  #grid{
    display:block;
  }
  #grid ol{
    border-right:none;
  }
  h1 {
    border-bottom: none;
    font-size: 40px;
  }
}
